$big-icon: 24px
$small-icon: 20px
.buttons-search
    display: grid
    grid-template-rows: auto
    grid-template-columns: auto auto
    row-gap: 14px
    column-gap: 12px

.buttons-search__
    border-radius: 100%
.buttons-search__btn
    &--small
        width: 36px
        height: 36px
    &--big
        width: 48px
        height: 48px
.buttons-search__btn
    &--orange
        background-color: #FF3E1D
    &--green
        background-color: #00D200

.icon-search
    &--small
        width: $small-icon
        height: $small-icon
    &--big
        width: $big-icon
        height: $big-icon