$color-logo:  #37447E
$color-nav-list: #505F98
$color-btn-dark-fill: #111B47
$color-btn-light: #091133
$color-main-heading: #091133
$color-text: #6F7CB2
$color-goes-here: #5D6970
$color-price: #222F65
$color-footer-text: #929ECC

$maxWidth: 1440
$context: 16

@function px_to_em($pixels)
    @return #{$pixels/$context}em

@mixin adaptiv-font($pcSize, $mobSize)
    $addSize: $pcSize - $mobSize
    $maxWidth: $maxWidth - 320
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}))

@mixin font_style($fw, $fs, $lh, $mobFSize)
    font-family: Roboto
    font-style: normal
    font-weight: $fw
    @include adaptiv-font($fs, $mobFSize)
    line-height: $lh

@mixin width_block ($parent_w, $this_w)    
    width: calc((#{$this_w/$parent_w} * 100%))


a
    text-decoration: none
    &:focus
        outline: none
    
    &.nav-link
        @include font_style(400, 14, 24px, 12)
        color: $color-nav-list
        &:hover
            color: $color-nav-list
            @include font_style(700, 14, 24px, 12)

.btn
    border-radius: 2px
    width: 160px
    height: 24px
    padding: 0px
    @include font_style(500, 16, 26px, 16)
    &.btn-primary
        border: 1px solid $color-btn-dark-fill
        background: $color-btn-dark-fill
        &:hover 
            transform: scale(1.2)
            background: transparent
            color: $color-btn-light
    &.btn-light
        background: transparent
        border: 1px solid $color-btn-light
        color: $color-btn-light
        &:hover 
            transform: scale(1.2)
            background: $color-btn-dark-fill
            color: #FFFFFF

.btns 
    margin-top: px_to_em(69)
    display: flex
    justify-content: flex-start
    @media (max-width: 768px)
        padding-bottom: px_to_em(100) 
    @media (max-width: 425px)
        justify-content: center

header 
    margin-top: px_to_em(243)
    .btn
        width: 189px
        height: 36px
        @media(max-width: 768px)
            width: 160px
    .btn+.btn
        margin-left: 30px
    .row
        flex-wrap: wrap-reverse
    @media (max-width: 575px)
        margin-top: px_to_em(15)
    @media (max-width: 425px)
        margin-top: px_to_em(50)
        text-align: center

.heading-main
    @include font_style(500, 50, 66px, 42)
    letter-spacing: 1px
    color: $color-main-heading

.block-text-main
    @include font_style(400, 18, 30px, 16)
    color: $color-nav-list

.header-site 
    background-image: url(../img/main_photo.png) 
    background-repeat: no-repeat  
    background-size: 1000px  
    background-position: right bottom
    padding-bottom: px_to_em(386)
    .btn
        @include font_style(500, 12, 18px, 9)
        @media (max-width: 425px)
            width: 105px
    .nav-link
        @media (max-width: 425px)
            padding-left: px_to_em(3)
    @media(max-width: 768px)
        background-image: none
        background-color: #f2f5ff
        padding-bottom: px_to_em(120)
        .navbar
            justify-content: space-around
    @media (max-width: 575px)
        padding-bottom: px_to_em(20)
        .navbar
            justify-content: start

.navbar-brand
    @include font_style(900, 26, 38px, 18)
    &:hover
        color: $color-logo

.navbar-light
    .navbar-brand
        color: $color-logo
        
.heading-section
    @include font_style(500, 36, 48px, 32)
    color: $color-main-heading
    margin-bottom: px_to_em(16)
    @media(max-width: 720px)
        text-align: center

.block-text
    @include font_style(400, 16, 26px, 14)
    color: $color-text
    @media(max-width: 720px)
        text-align: center

.light-fast-powerful 
    .row
        >div 
            @include width_block(555px, 445px)
        align-items: center
        flex-wrap: wrap-reverse
 
.first-section
    img
        margin-top: px_to_em(109)
        margin-bottom: px_to_em(108)
        @media (max-width: 768px)
            margin-top: px_to_em(50)
            margin-bottom: px_to_em(55)
    .row
        flex-wrap: wrap

.second-section 
    img
        margin-top: px_to_em(122)
        margin-bottom: px_to_em(130)
        margin-right: px_to_em(155)
        @media (max-width: 768px)
            margin-top: px_to_em(50)
            margin-bottom: px_to_em(55)
            margin-right: px_to_em(10)
   
.third-section 
    img
        margin-top: px_to_em(91)
        margin-bottom: px_to_em(114)
        margin-right: px_to_em(125)
        @media (max-width: 768px)
            margin-top: px_to_em(50)
            margin-bottom: px_to_em(55)
            margin-right: px_to_em(5)

.fourth-section    
    img
        margin-top: px_to_em(141)
        margin-bottom: px_to_em(130)
        margin-right: px_to_em(172)
        @media (max-width: 768px)
            margin-top: px_to_em(50)
            margin-bottom: px_to_em(55)
            margin-right: px_to_em(5)
    .btn 
        margin-top: px_to_em(40)
        height: px_to_em(24)
        @media(max-width: 425px)
            display: block
            margin: px_to_em(20) auto
           
.goes-here
    display: flex
    margin-top: px_to_em(80)
    > div 
        @include width_block(540px, 255px)
        &:first-child
            margin-right: px_to_em(7)
    @media (max-width: 425px)
        margin-top: px_to_em(40)
        text-align: center
     

.heading-goes-here
    @include font_style(500, 16, 26px, 14)
    color: $color-main-heading

.text-goes-here
    @include font_style(400, 12, 18px, 9)
    color: $color-goes-here

.price-suit-everyone 
    .border-topp
        height: px_to_em(50)
        background: white
        border-radius: 0 0 70% 70%
        border-bottom: 1px solid #f8f9fa
        width: 100%
        position: relative
        top: 38px
    .content_price
        background: #E7ECFF
        padding-top: px_to_em(210)
        padding-bottom: px_to_em(120)
        > div
            @include width_block(1110px, 600px)
            text-align: center
        @media(max-width: 768px)
            padding-bottom: px_to_em(80)
            padding-top: px_to_em(80)
    .price
        @include font_style(500, 66, 66px, 55)
        letter-spacing: 1px
        color: $color-price
        margin-top: px_to_em(35)
        margin-bottom: px_to_em(5)
        @media(max-width: 768px)
            margin-top: px_to_em(10)
    .text-ui-design
        @include font_style(500, 16, 26px, 14)
        color: $color-logo
    .one-price
        @include font_style(400, 14, 24px, 12)
        color: $color-goes-here
        margin-top: px_to_em(60)
        @media(max-width: 768px)
            margin-top: px_to_em(15)
    .btn
        align-self: center
        @include font_style(400, 14, 24px, 12)
    
footer
    padding-top: px_to_em(61)
    background-color: #E7ECFF
    .nav-footer
        .nav-link
            padding-left: 0
    .align-items-baseline
        .nav-link
            padding-right: 0
    .navbar 
        border-top: 2px solid #CDD1D4
        margin-top: px_to_em(40)
        @media(max-width: 768px)
            margin-top: px_to_em(20)
    .btn 
        width: 109px
        height: 26px
        @include font_style(400, 12, 18px, 9)
    .copyright, .nav-footer .nav-link
        color: $color-footer-text
        @include font_style(400, 14, 24px, 11)
    svg
        &:hover
            animation-name: network-icon
            animation-duration: 0.7s
            animation-timing-function: steps(5,start)
    @media(max-width: 425px)
        padding-top: px_to_em(10)
        svg 
            width: 12px

@keyframes network-icon
    0%
        transform: rotate(0deg) scale(1.2)
    100%
        transform: rotate(360deg) scale(1.5)
        
        