* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
} 

.footer-container, 
.header-container, 
.main-container, 
.copyright {
    padding-left: 11.5%;
    padding-right: 5%;
}

.header-container {
    background-color: #ED4C5C;
    color: rgb(255, 255, 255);
    min-height: 500px;
    display: flex;
    padding-top: 130px;
    width: auto;
}

.header-tblock {
    width: 480px;
}

.header-heading {
    margin-top: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.header-text {
    display: inline-block;
    width: 445px;
    font-size: 14px;
    line-height: 140%;
    margin-top: 80px;
}

.img-app, 
.img-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-app {
    width: 135px;
    margin-top: 40px;
}

.img-link {
    width: 66px;
    margin-top: 20px;
} 

.icon-app, .icon-link {
    flex-direction: column;
}

.icon-app:hover, .icon-link:hover {
    transform: scale(2);
}
.header-gallery {
    margin-left: 49px;
}

.gallery {
    width: 533px;
    height: 311px;
}

.main-container {
    display: flex;
    height: 500px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-top: 117px;
}

.main-heading {
    margin-top: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.main-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    width: 434px;
}

.contact-form {
    margin-left: 114px;
}

input, 
select {
    height: 60px;
    border-radius: 6px;
    margin-bottom: 24px;
    border: 1px solid rgb(0, 0, 0);
}

#first-name {
    margin-right: 30px;
}

#first-name, 
#last-name {
    width: 255px;
}
.names {
    display: flex;
}

 #number, 
 select {
    width: 540px;
}

select option[value=select-servicem], select {
    color: grey;
}
option:not(:checked) {  
    color:#000;
}

select:checked { 
    background-color: blue; 
    color:#000;
}

.submit-btn {
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background-color: #ED4C5C;
    border: none;
    color:rgb(255, 255, 255);
    box-shadow: none;
    transition-duration: 1s;
}

.submit-btn:hover {
    border: 1px solid #ED4C5C;
    background-color: rgb(255, 255, 255);
    color: #ED4C5C;
}

footer {
    padding-top: 85px;
    height: 435px;
    background-color: #FAFAFA;
    width: 100%;
}

.footer-container {
    display: flex;
    height: 165px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(1, 1, 1);
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.footer-block-text, 
.text-address, 
.copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
}

.footer-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.text-address {
    width: 180px;
}

.copyright {
    margin-top: 85px;
    vertical-align: middle;
}