.bg-adv1 {
    width: 55px; height: 60px;
    background: url('../img/css_sprites_small_img.png') -10px -10px;
    margin: auto;
}

.bg-adv2 {
    width: 55px; height: 60px;
    background: url('../img/css_sprites_small_img.png') -85px -10px;
    margin: auto;
}

.bg-adv3 {
    width: 60px; height: 54px;
    background: url('../img/css_sprites_small_img.png') -160px -10px;
    margin: auto;
}

.bg-arrow_left {
    width: 23px; height: 62px;
    background: url('../img/css_sprites_small_img.png') -240px -10px;
    /* margin: auto; */
}

.bg-arrow_right {
    width: 23px; height: 62px;
    background: url('../img/css_sprites_small_img.png') -240px -92px;
    /* margin: auto; */
}

.bg-reason1 {
    width: 55px; height: 34px;
    background: url('../img/css_sprites_small_img.png') -69px -158px;
    margin: auto;
}

.bg-reason2 {
    width: 45px; height: 45px;
    background: url('../img/css_sprites_small_img.png') -78px -90px;
    margin: auto;
}

.bg-reason3 {
    width: 39px; height: 57px;
    background: url('../img/css_sprites_small_img.png') -10px -158px;
    margin: auto;
}

.bg-review_ava {
    width: 45px; height: 45px;
    background: url('../img/css_sprites_small_img.png') -143px -90px;
  
}

.bg-reason4 {
    width: 48px; height: 48px;
    background: url('../img/css_sprites_small_img.png') -10px -90px;
    margin: auto;
}