@import "Post.css";
body,
html {
  height: 100%;
}

body {
  background-image: radial-gradient(circle farthest-corner at 5.6% 54.5%, #2f474f 0%, #9fbcc6 83.6%);
}

.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}