@import './fonts.css';
.post {
  margin: 10px;
  display: flex;
  flex-direction: column;
  max-width: 45%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 0px 48px 11px rgba(255, 255, 255, 0.6) inset;
}
@media (max-width: 475px) {
  .post {
    max-width: 100%;
  }
}
.post__heading {
  font-family: "Acme";
  font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
  display: inherit;
  align-items: center;
}
.post__heading--photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post__heading--info {
  margin-left: 10px;
}
.post__heading--content {
  font-family: "AdventPro";
  letter-spacing: 2px;
}
.post__heading--personal-info {
  display: flex;
  align-items: baseline;
  position: relative;
}
.post__heading--personal-info-check {
  position: relative;
  margin-right: 20px;
}
.post__heading--personal-info-check::after {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 3px;
  right: -18px;
  background-image: url(../img/icons/check.svg);
}
.post__heading--personal-info p + p {
  margin: 0 5px;
}
.post__body {
  width: 100%;
  margin: 5px 0;
}
.post__body--content {
  width: 100%;
  border-radius: 20px;
}
.post__footer {
  display: flex;
  justify-content: space-around;
  color: #111;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
}
.post__footer--comments {
  position: relative;
}
.post__footer--comments::before {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 1px;
  left: -18px;
  background-image: url(../img/icons/comments.svg);
}
.post__footer--likes {
  position: relative;
}
.post__footer--likes::before {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 1px;
  left: -18px;
}
.post__footer--share {
  position: relative;
}
.post__footer--share::before {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 1px;
  left: -18px;
  background-image: url(../img/icons/share.svg);
}
.post__footer--cloud {
  position: relative;
}
.post__footer--cloud::before {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 1px;
  left: -18px;
  background-image: url(../img/icons/cloud.svg);
}

.unlike::before {
  background-image: url(../img/icons/like.svg);
}

.liked::before {
  background-image: url(../img/icons/liked.svg);
}

.nickname {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  color: #5c5c5c;
}

.date {
  font-size: calc(13px + 5 * ((100vw - 320px) / 1120));
  color: #363636;
}

.post-action {
  cursor: pointer;
  font-family: "AdventPro";
  letter-spacing: 1px;
}
.post-action:hover {
  font-weight: 700;
}