.buttons-down__button {
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.buttons-down__button--big {
  font-size: calc(12px + 3 * ((100vw - 320px) / 1120));
}
.buttons-down__button--small {
  font-size: calc(9px + 4 * ((100vw - 320px) / 1120));
}
.buttons-down__button:hover {
  transition-duration: 0.7s;
  transform: scale(1.2);
}

.buttons-down__button--big {
  height: 46px;
  weight: 114px;
}
.buttons-down__button--small {
  height: 36px;
  weight: 111px;
}

.buttons-down__button--bg-blue {
  background-color: #18A0FB;
  color: #FFFFFF;
}
.buttons-down__button--bg-grey {
  color: #878787;
}
.buttons-down__button--bg-white {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  color: #2C2C2C;
}
.buttons-down__button--bg-orange {
  background-color: #FF3E1D;
  color: #FFFFFF;
}
.buttons-down__button--bg-white-br-blue {
  background-color: #FFFFFF;
  border: 1px solid #18A0FB;
  color: #18A0FB;
}

.icon-down--light path {
  stroke: #FFFFFF;
}
.icon-down--grey path {
  stroke: #878787;
}
.icon-down--dark path {
  stroke: #2C2C2C;
}
.icon-down--blue path {
  stroke: #18A0FB;
}

.icon-down--big {
  width: 24px;
  height: 24px;
}
.icon-down--small {
  width: 20px;
  height: 20px;
}

.buttons__button-icon {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.buttons-couple {
  display: grid;
  grid-template-rows: repeat(3, 46px);
  grid-template-columns: auto;
  row-gap: 24px;
}
.buttons-couple--smalls {
  row-gap: 20px;
  grid-template-rows: repeat(3, 36px);
}

.button-couple {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 3 * ((100vw - 320px) / 1120));
  line-height: 18px;
}

.button-couple__part {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 3 * ((100vw - 320px) / 1120));
  line-height: 18px;
}

.buttons-couple__button--cf {
  display: grid;
  grid-template-rows: 46px;
  grid-template-columns: repeat(3, 56px);
  column-gap: 0px;
}
.buttons-couple__button--cf-small {
  display: grid;
  grid-template-rows: 36px;
  grid-template-columns: repeat(2, 86px);
  column-gap: 0px;
}
.buttons-couple__button--cs {
  display: grid;
  grid-template-rows: 46px;
  grid-template-columns: repeat(2, 134px);
  column-gap: 0px;
}
.buttons-couple__button--cs-small {
  display: grid;
  grid-template-rows: 36px;
  grid-template-columns: repeat(3, 48px);
  column-gap: 0px;
}
.buttons-couple__button--cl {
  display: grid;
  grid-template-rows: 46px;
  grid-template-columns: repeat(3, 106px);
  column-gap: 0px;
}
.buttons-couple__button--cl-small {
  display: grid;
  grid-template-rows: 36px;
  grid-template-columns: repeat(3, 58px);
  column-gap: 0px;
}

.buttons-couple_part--first {
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  color: #FFFFFF;
}
.buttons-couple_part--second {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
}
.buttons-couple_part--last {
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #E0E0E0;
}

.icon-box--dark path {
  stroke: #2C2C2C;
}

.icon-search--dark path {
  stroke: #2C2C2C;
  fill: #2C2C2C;
}

.wrapper__item.btns-tag {
  display: grid;
  grid-template-rows: repeat(2, 28px);
  grid-template-columns: repeat(2, 65px);
  row-gap: 14px;
  column-gap: 12px;
}

.btn-tag {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: calc(9px + 4 * ((100vw - 320px) / 1120));
  line-height: 16px;
  border-radius: 5px;
}
.btn-tag--big {
  width: 65px;
  height: 28px;
}
.btn-tag--small {
  width: 51px;
  height: 28px;
}

.btn-tag--blue {
  background-color: #18A0FB;
  color: #FFFFFF;
}
.btn-tag--light {
  border: 1px solid #E0E0E0;
  background-color: #FFFFFF;
  color: #2C2C2C;
}

.buttons-search {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 36px 48px;
  row-gap: 14px;
  column-gap: 12px;
}

.buttons-search__ {
  border-radius: 100%;
}

.buttons-search__btn--small {
  width: 36px;
  height: 36px;
}
.buttons-search__btn--big {
  width: 48px;
  height: 48px;
}

.buttons-search__btn--orange {
  animation-name: gradietn-search;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
  background-color: #FF3E1D;
}
.buttons-search__btn--green {
  background-color: #00D200;
}

.icon-search--small {
  width: 20px;
  height: 20px;
}
.icon-search--big {
  width: 24px;
  height: 24px;
}

@keyframes gradietn-search {
  0% {
    background-color: #FF3E1D;
  }
  50% {
    background-color: #910606;
  }
  70% {
    background-color: #7a097a;
  }
  100% {
    background-color: #FF3E1D;
  }
}
body {
  background-color: #797979;
}

.wrapper {
  padding: 44px 128px 80px 61px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  row-gap: 73px;
}

.wrapper__item-title {
  margin-bottom: 1.625em;
}

.wrapper__item {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
}
.wrapper__item-title {
  grid-area: 1/1/2/3;
}
.wrapper__item-second {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 117px;
}
.wrapper__item-second .title {
  grid-area: 1/1/2/4;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: calc(20px + 5 * ((100vw - 320px) / 1120));
  line-height: 30px;
}

button {
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

.wrapper__item-buttons.buttons-down--big {
  display: grid;
  grid-template-columns: repeat(4, 144px);
  grid-template-rows: repeat(3, 46px);
  row-gap: 24px;
  column-gap: 20px;
}
.wrapper__item-buttons.buttons-down--small {
  display: grid;
  grid-template-columns: repeat(4, 111px);
  grid-template-rows: repeat(3, 36px);
  row-gap: 21px;
  column-gap: 48px;
}

.magic {
  animation-name: magic-start;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

@keyframes magic-start {
  0% {
    opacity: 0.7;
    transform: scale(1.2) rotate(0deg);
  }
  50% {
    opacity: 0;
    transform: scale(0.8);
  }
  70% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.7;
    transform: scale(1) rotate(360deg);
  }
}