body {
    background-color: rgb(0, 0, 0);
}

main {
  padding: 20px;
   
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: inline-block;
    margin-bottom: 55px;
    margin-top: 20px;
    font-size: 2em;
    font-family: 'Chilanka', cursive;
    font-weight: 700;

    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c350f0 0px 0px 20px, #7d16c2 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.newtons-pendulum {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 15px solid rgb(0, 0, 0) ;
    
    border-radius:44px 44px 0 0;
    border-bottom: none;
    z-index: -10;
    width: 470px;
    height: 250px;
    background: rgb(230, 225, 225, 0.95);
    box-shadow: 0px 0px 104px 41px rgba(255,255,255,1);
   
}

.bottom-pendulum {
    transform: translateY(7px);
    background: rgb(66,4,115);
    background: linear-gradient(45deg, #2c1109, #ee4141, #f5186d, #5938e9, #3cffd2, #fffb0d, #131010);

    border-radius: 18px 18px 0 0;
    height: 48px;
    width: 538px;
    z-index: -5;
}

.balls {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    z-index: 5;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.ball:before {
    content: "";
    position: absolute;
    top: 10%;
    left: 25%;
    width: 70%;
    height: 95%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
    z-index: 2;
  }
  
 .ball::after {
    position:absolute;
    display:block;
    content:" ";
    width:1px;
    height:150px;
    left:21px;
    top:-150px;
    background-color: rgb(0, 0, 0);
 }

.ball:first-child {
    animation-name: ball-left;   
    background: rgb(21,7,120);
    background: linear-gradient(90deg, rgba(21,7,120,1) 10%, rgba(28,45,170,1) 36%);
}

.ball:nth-child(2) {
    background: rgb(28,45,170);
    background: linear-gradient(90deg, rgba(28,45,170,1) 36%, rgba(49,31,176,1) 43%);
}

.ball:nth-child(3) {
    background: rgb(49,31,176);
    background: linear-gradient(90deg, rgba(49,31,176,1) 43%, rgba(67,22,175,1) 52%);
}

.ball:nth-child(4) {
    background: rgb(67,22,175);
    background: linear-gradient(90deg, rgba(67,22,175,1) 52%, rgba(70,23,193,1) 60%);
}

.ball:nth-child(5) {
    background: rgb(70,23,193);
    background: linear-gradient(90deg, rgba(70,23,193,1) 60%, rgba(104,39,182,1) 70%);
}

.ball:nth-child(6) {
    background: rgb(104,39,182);
    background: linear-gradient(90deg, rgba(104,39,182,1) 70%, rgba(131,26,181,1) 79%);
}

.ball:last-child {
    animation-name: ball-right;
    animation-delay: 1s;
    background: rgb(131,26,181);
    background: linear-gradient(90deg, rgba(131,26,181,1) 79%, rgba(155,35,177,1) 87%);
}

.ball:first-child,
.ball:last-child {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

.ball .shadow {
    width: 50px;
    height: 15px;
    border-radius: 50%;
    top: -4px;
    background: rgb(56, 55, 55);
    filter: blur(8px);
    transform: rotateX(116deg) translateZ(-66px);
    z-index: -1;
}

.ball:last-child .shadow {
    animation-delay: 1s;
}

.ball:first-child .shadow,
.ball:last-child .shadow{
    animation-name: shadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes ball-left {
    0%, 50% {transform: rotate(0) translateX(0);}
      100% {transform: rotate(25deg) translateX(-3em);}
}

@keyframes ball-right {
    0%, 50% {transform: rotate(0) translateX(0);}
    100% {transform: rotate(-25deg) translateX(3em);}
}

@keyframes shadow {
    0%, 50%{ filter: blur(8px);}
    100% {filter: blur(40px);}
}