body {
    min-width: 1100px;
    min-height: 600px;
    padding-top: 2.6%;
    padding-left: 2.25%;
    height: 100vh;
    width: auto;
    box-sizing: border-box;
    display: flex;
}

a:focus, button:focus,
select:focus {
    outline: none;
}

.nav-main {
    background-color: rgb(1, 1, 1);
    border-radius: 24px;
    height: 100%;
    width: 9.1%;
    margin-bottom: 2.5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.nav-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 44.6%;
    margin-bottom: 26%;
}

.container-header-main {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 4.3%;
    width: 43%;
}

.name-course {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.author-course, 
.sum-mark,
.sum-time {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}

header {
    height: 21%;
    padding-top: 3.5%;
}


.header-container {
    background: #F5F5F7;
    border-radius: 14px;
    height: 90%;
    padding-left: 5%;
    margin-bottom: 0;
    position: relative;
    display: flex;
}

.header-text {
    margin: auto 0;
}

.heading-hello {
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;  
}

header p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.header-img {
    width: 28%;
    height: 130%;
    position: absolute;
    bottom: 0;
    right: 16%;
}

.type-act-course::before {
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    bottom: 8px;
    margin: auto;
    z-index: 0;
    top: 4px;
    position: absolute;
    left: -58px;
}

.type-act-course.spanish::before {
    background-image: url(../img/spanish-icon.svg);
}

.type-act-course.figma::before {
    background-image: url(../img/figma.svg);
}

.type-act-course.analog-photo::before {
    background-image: url(../img/analog-photo.svg);
}

.type-act-course.instagram::before {
    background-image: url(../img/instagram.svg);
}

.type-act-course.drawing::before {
    background-image: url(../img/drawing.svg);
}

.type-act-course.ps::before {
    background-image: url(../img/ps.svg);
}

.in-block {
    width: 80%;
    height: 80px; /* СЮДИ */
    background:  #F5F5F7;;
    border-radius: 14px;
    padding-left: 1%;
    margin-right: 2%;
}

.arrow-switch+.arrow-switch {
    margin-left: 10px;
}

.active-courses,
.active-courses > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.type-act-course{
    margin: auto 0;
    z-index: 1;
    position: relative;
    left: 60px;
}

.active-progress {
    position: relative;
    margin-left: 13%;
}

.percent {
    position: absolute;
    top: 14px;
    left: 5px;
}

.btn {
    max-width: 120px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgb(1, 1, 1);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    transition-duration: 0.5s;
}

.btn:active {
    transform: scale(0.6);
}

.in-block .btn {
    margin-right: 2%;
}

.heading-blocks {
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
}

.courses {
    margin-top: 4%;
    height: 62%;
}

.courses-tabs {
    position: relative;
    height: auto;
}

.tab-c, .tab-title {
    display: inline-block; 
 
}

.tab-c input[type="radio"] { 
    display: none; 
}

label, 
.arrow-switch, 
.aside-summary-courses div {
    cursor: pointer;
}

.tab-title {
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: rgb(134, 126, 126);
    padding: 5px 10px;  
}

.tab-content {
    position: absolute; 
    width: 100%;
    height: auto;
    display: none;
}

.tab-c :checked + .tab-title {
    position: relative; 
    top: 1px; 
    z-index: 1;
    color: rgb(1, 1, 1);
}

.tab-c :checked ~ .tab-content {
    display: block;
}
  
main {
    height: 80%;
}  

.one-courses {
    height: 80px;
    background: #F5F5F7;
    border-radius: 14px;
    padding-left: 1.3%;
    padding-right: 3.7%;
}   

.one-courses:not(:last-child) {
    margin-bottom: 1.5%;
}

.text-tabs-content {
    text-align: center;
    font-size: 6em;
    transform: skewY(10deg);
    font-size: 5em;
    top: 52px;
    margin-top: 25%;
    margin-left: -45%;
    font-weight: bolder;
    color: rgba(14, 13, 13, 0.644);
    text-shadow: 30px 21px 6px rgba(167, 150, 150, 1);
}

 img[alt=unicorn] {
    width: 70%;
    margin-top: 9px;
    margin-left: -115px;
}

.popular {
   font-family: 'Baloo Bhai 2';
   font-style: normal;
   font-weight: bold;
   font-size: 32px;
   margin-top: 115px;
   margin-left: -175px;
   text-shadow: 0 0 15px #999;
   color: transparent;
   transition: all .5s;
}

.popular:hover {
    text-shadow: 0 0 0 #333;
}

.one-courses {
    display: grid;
    grid-template-columns: 50% 20% 10% 20%;
    align-items: center;
    padding-right: 1.2%;
}

.sum-time,
.sum-mark {
    position: relative;
    padding: 0 0 0 10px;
}

.sum-time::before,
.sum-mark::before {
    content: '';   
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 17px;
    position: absolute;
    top: -2px;
    left: -10px;
}

.sum-time::before {
    background-image: url(../img/clock.svg);
}

.sum-mark::before {
    background-image: url(../img/fire.svg);
}

aside {
    width: 31%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    
}

.nav-aside {
    width: 100%;
    height: 4.7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-aside > div {
    height: 100%;
    width: 100%;
}

input[type=text] {
    background: #F5F5F7;
    border-radius: 8px;
    border: none;
    height: inherit;
    width: calc(100% - 50px);
    background: url(../img/search.svg) 15px center no-repeat, #F5F5F7;
    background-size: 21px;
    margin-right: 10px;
    padding-left: 50px;
    cursor: pointer;
}


.aside-ul {
    display: flex;
}

.aside-ul li {
    margin-left: 15px;
}

.aside-summary-courses {
    display: flex;
    margin-top: 4%;
    height: 11%;
    width: 100%;
}

.aside-summary-courses > div {
    height: 100%;
    width: auto;
    background-color: #F5F5F7;
    border-radius: 14px;
    margin-right: 5%;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
}

.aside-summary-courses > div:active {
    background-color: #474749;
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

.number-sum-courses {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 102px;
    margin-left: 9%;
}

.text-sum-courses {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-right: 9%;
}

.statistic {
    margin-top: 4%;
}

.menu-statistic {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.select {
    height: 100%;
}

div select {
    background: #F5F5F7;
    border-radius: 8px;
    border: none;
    height: 32%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
}

.tab-graph img {
    width: 200%;
    height: 70%;
}

.group-statistics-courses {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;
    margin-top: 30px;
    margin-left: -100px;
}

.group-statistics-courses li{
    margin-bottom: 5%;
    list-style-type: circle;
}

.premium {
    width: 100%;
    height: 22%;
    display: flex;
    background: #F5F5F7;
    border-radius: 14px;
    padding-top: 8%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 7%;
    position: relative;
    top: 40%;
}

.premium-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.premium img {
    width: 28%;
}