a {
    text-decoration: none;
}
a:focus,
button:focus {
    outline: none;
}

li {
    text-decoration: none;
}

body {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

/* ------------------------- */

.logo {
    display: flex;
    align-items: baseline;
}

.logo-text {
    color: #5282f0;
    font-family: "Product Sans";
   font-size: 1.500em
    font-weight: 700;
}


button {
    /* width: 100%; */
    height: 47px;
    border: none;
    border-radius: 7px;
    background-color: #000000;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    width: 156px;
    position: relative;
    padding-right: 5px;
 }
.btn-download {
    display: flex;
    justify-content: space-between;
    width: 27%;
}

 .down-app-store::before,
 .down-google-play::before {
     content: "";
     position: absolute;
     background-position: center;
     background-repeat: no-repeat;
     width: 25px;
     height: 30px;
     left: 7.6%;
     top: 17%;
 }

 .down-app-store::before {
     background-image: url(../img/app-store-logo.svg);
 }
 .down-google-play::before {
    background-image: url(../img/google-play-logo.svg);
 }

 button p:first-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.625em;
    line-height: 12px;

    padding-left: 20px;
 }

 .down-app-store p:last-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 25px;

    padding-left: 25px;
 }

 .down-google-play p span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 25px;

    padding-left: 13px;
 }

 .down-google-play p:last-child(:not span) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 25px;
    color:red;
 }

 .blocks-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 23px;
    color: #4F4F4F;
 }

 .blocks-text p:first-child {
     margin-bottom: 14px;
 }

 .blocks-heading {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
   
    color: #333333;
 }

 .short-info-text {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 21px;
 
    color: #00ADEE;
 }

 .upper-text {
     text-transform: uppercase;
 }
/* ------------------------- */

header {
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #F4F6F9;
    /* display: flex;
    align-items: center; */
    padding-top: 61px;
    background-image: url(../img/Background-header.png);
    background-color: #f4f6f9;
    background-repeat: no-repeat;
    background-position: right top;
    background-position-x: 99%; 
    background-size: auto;
    padding-bottom: 163px;
}

.header-block-text .logo {
    margin-bottom: 133px;
   
}

header .btn-download {
    /* margin-bottom: 163px; */
}

.header-heading {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 2.250em;
    font-weight: 700;
    letter-spacing: 0.068em;
    line-height: 46.41px;
    width: 100%;
    max-width: 546px;
}

.header-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 26px;
    color: #4F4F4F;

    max-width: 453px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.header-block-text {
    margin-left: 11.46%;
}
.header-img img{
    object-fit: contain;
   object-position: bottom;
   width: 100%;
   height: 100%;
}

/*-----------------------*/

.what-it-does {
    display: flex;
    background-image:  linear-gradient(270deg, #FFFFFF 45.16%, rgba(255, 255, 255, 0.5) 97.14%, rgba(255, 255, 255, 0.5)), url(../img/Background-experience.png);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: left;
    /* background-position-x: 112%; */
    background-size: auto;
}

.what-it-does .blocks-heading,
.get-started-text .blocks-heading {
    margin: 27px 0;
}

.what-it-does .learn-more,
.get-started-text .learn-more {
    margin-top: 22px;
    margin-bottom: 117px;
}

.what-it-does .short-info-text {

}
.wid-text {
    margin-right: 236px;
    margin-top: 133px;
   
}

.wid-text .blocks-heading {
    padding: 27px 0;
}

.wid-text .blocks-text {
    padding-bottom: 22px;
}
.pictures-match {
    margin-left: 163px;
    margin-top: 133px;
}
.match-notifications {
    width: 360px;
    height: 218px;
    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;

    z-index: 2;
    position: relative;

    display: flex;
    flex-direction: column;
}


time {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 22px;

    color: #4F4F4F;

    margin-top: 27px;
    margin-bottom: 12px;
}

.commands {
    font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 1.125em;
line-height: 24px;

color: #000000;
margin-bottom: 13px;
width: 76px;
}
.description-match {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 1em;
line-height: 21px;

color: #000000;
}
.wid-content-mn {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
.turn-match {
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    height: 47px;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 1.125em;
line-height: 25px;

color: #4F4F4F;
flex: 0 0 auto;
padding-top: 13px;
}

.wid-content-mn, .turn-match {
    padding-left: 15px;
}

.commands-emblem {
    bottom: 170px;
    left: 195px;
    z-index: 1234;
    position: relative;
}

img[alt=Chelsea] {
    position: relative;
    left: -25px;
}

.video {
    margin-left: 265px;
    margin-top: -32px;
    z-index: 0;
    position: relative;
    top: -90px;
    left: -95px;
}
 .get-started {
     display: flex;
     justify-content: space-between;
     background-size: 100%;
     background-image: url(../img/background-user-friendly.png);
     background-repeat: no-repeat;
 }

 .get-started-text {
     margin-top: 217px;
     margin-bottom: 171px;
     margin-left: 162px;
     max-width: 480px;
     flex: 1 1 50%;
 }

  .phone-img {
    margin-top: 104px;
    margin-bottom: 99px;
    margin-right: 250px;
    position: relative;
 }
 .phone-img img {
     object-fit: fill;
     object-position: center;
 }

 .phone-img::before,
.phone-img::after {
    content: '';
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1), 0px 3.13793px 15.6897px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
}

.phone-img::before {
    content: "";
    background-image: url(../img/bell.svg);
    top: 56px;
    left: 20px;
}

.phone-img::after {
    content: "";
    background-image: url(../img/phone-arrow.svg);
    top: 406px;
    right: -22px;
}

.features {
    background: #00ADEE;
    background-image: url(../img/figures.png);
    background-repeat: no-repeat;
    background-size: contain;

}
.features .blocks-text,
.features .blocks-heading {
    color: rgb(255, 255, 255);
}

.features-heading, .featured-in-heading,
.reviews-heading {
    text-align: center;
}

.features-heading .blocks-heading {
    display: inline-block;
    margin: 76px auto 54px;
}
.featured-in-heading .blocks-heading {
    display: inline-block;
    margin: 50px 0 58px;
}

.table-of-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 45px;
    column-gap: 6.25%;
    margin: 0 163px 66px;
    
}

.what-our-users-say  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 81px;
    position: relative;
}

.what-our-users-say .blocks-heading {
    margin-bottom: 63px;
    margin-top: 62px;
}
.reviews {
    display: grid;
    grid-template-columns: repeat(5, 309px);
    column-gap: 36px;

    margin-bottom: 47px;
    overflow: hidden;
    max-width: 1440px;
    width: 100%;
    justify-content: center;
    position: relative;

    /* background-image: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%); */
}
.arrows-slider {
    display:flex;
}

.arrow-left {
    transform: scale(-1, 1);
    position: absolute; 
    top: 200px;
    left: 95px;
}

.arrow-right {
    position: absolute;
    top: 200px;
    right: 80px;
}
.reviews::before,
.reviews::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    min-height: 100%;
    top: 0px;
    right: 0px;
    background: linear-gradient(270deg, #FFFFFF 0.84%, rgba(255, 255, 255, 0) 10.7%);
    border-radius: 4px;
}

.reviews::before {
    content: '';
    transform: matrix(-1, 0, 0, 1, 0, 0); 
}


.reviews::before {
    content: '';
    /* background-image: url(../img/arrow-left.svg); */
    /* left: 285px; */
}

.reviews::after {
    content: '';
    /* background-image: url(../img/arrow-right.svg); */
    /* right: 35px; */
}

.item-review {
    width: 309px;
height: 161px;
border: 1px solid #828282;
box-sizing: border-box;
border-radius: 4px;
padding-left: 17px;
padding-top: 15px;
}

.item-review:last-child{
   
border-radius: 4px;
}
.author {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    position: relative;
}

.author::after {
    content: '';
    background-image: url(../img/twitter-author.svg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 15px;
    height: 12px;
    position: absolute;
    right: 20px;
}
.name-author {
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 1em;
line-height: 19px;
color: #333333;
margin-left: 11px;

}

.review-text {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 0.875em;
line-height: 18px;
max-width: 279px;

/* #4F4F4F */

color: #4F4F4F;
}

/*--------------------------------------*/

.featured-in {
    background: #FAFAFA;
    padding-bottom: 67px;
}

.list-featured-in {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
   
    column-gap: 79px;
    margin-left: 180px;
    margin-right: 180px;
  
    /* justify-content: space-between; */
    align-items: center;
  
} 

/*--------------------------------------*/
.get-up-close {
  
    /* padding-left: 743px;
    padding-top: 105px;
    padding-bottom: 98px;*/
    /* padding-right: 162px;  */
    display: flex;
}

.img-like-bg img {
    object-fit: fill;
    height: 100%;
    /* object-position: -82% bottom; */
    width: 100%;
}

.text-get-up {
    margin-top: 105px;
    margin-left: 5%;
    width: 37%;
}

.text-get-up .blocks-text {
    margin-top: 35px;
    margin-bottom: 38px;
}

.text-get-up .btn-download {
    width: 64%;
}


footer {
    background: #00ADEE;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 21px;
    color: #FFFFFF;

    display: flex;
    /* justify-content: space-between; */
    padding: 51px 0;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    
}

.list-services {
    /* margin-left: 271px;
    margin-right: 261px; */
}
footer .logo-text {
    color: #FFFFFF;
}
.link-footer {
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 1em;
line-height: 21px;
}

.nav-footer {
    display:flex;
}

.nav-footer li+li {
    margin-left: 34px;
}

.list-social-networks a+a {
    margin-left: 15px;
}

@media(max-width: 768px) {
    /* .list-services {
        margin-left: 130px;
        margin-right: 121px;
    } */
    .what-it-does {
        flex-direction: column-reverse;
        background-image: none;  
    }
    .wid-text {
        margin: 0;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding: 2%;
    }

    .pictures-match {
        align-items: center;
        padding: 0;
        margin-top: 0;
    }

}
@media (max-width: 720px) {

/*----------------------------------*/
    button p:first-child {
        font-size: 0.563em;
        line-height: 11px;
    }

    .down-app-store p:last-child {
        font-size: 1.188em;
        line-height: 23px;
     }
    
     .down-google-play p span {
        font-size: 1em;
        line-height: 24px;
     }

     .blocks-text {
        font-size: 1em;
        line-height: 23px;
        text-align: center;
     }

     .blocks-heading {
        font-size: 1.750em;
        line-height: 37px;
        text-align: center;
     }
    /*----------------------------------*/
    header {
        padding: 0;
        align-content: center;
        display: block;
        background-image: none;
    }
    .header-heading, .header-text {
        margin: 0;
        padding: 0;
        /* max-width: 88.9%;    */
        margin-bottom: 30px;
    }
    .header-heading {
        font-size: 1.875em;
        line-height: 40px;
        font-weight: bold;
        letter-spacing: 0.03em;
    }

    .header-text {
        font-size: 1em;
    line-height: 23px;
    }
    .header-block-text {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .btn-download {
        display: flex;
        justify-content: space-evenly;
        width: 88%;
        flex: 0 0;
        margin-bottom: 59px;

    }

    .header-block-text .logo {
        align-self: center;
        margin-top: 32px;
    }

    .header-img {
        display: none;
    }

/*---------------------*/
    /* .what-it-does {
        flex-direction: column-reverse;
        background-image: none;  
    } */

    /* .wid-text,  */
    .get-started {
        margin: 0;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        
        padding: 3%;
    }
    .pictures-match {
    background-image:  linear-gradient(270deg, #FFFFFF 45.16%, rgba(255, 255, 255, 0.5) 97.14%, rgba(255, 255, 255, 0.5)), url(../img/Background-experience.png);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: left;
    /* background-position-x: 112%; */
    background-size: auto;
    margin: 0;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    }

    .pictures-match div{
       
    }
    

    .match-notifications, .video img {
        width: 247.21px;
height: 149.58px;
    }
.video {
    left: -165px;
}
    time {
        font-size: 0.7em;
        line-height: 15px;
        margin-top: 27px;
        margin-bottom: 12px;
    }
    
    .commands {
    
    font-size: 0.755em;
line-height: 16px;
    
   
    margin-bottom: 13px;
    width: 76px;
    }
    .description-match {
        font-size: 0.685;
        line-height: 14px;
    }
    
    .turn-match {
      
        height: 33px;
        font-size: 0.755em;
        line-height: 17px;
    
    color: #4F4F4F;
    flex: 0 0 auto;
    padding-top: 13px;
    }
    
    .pictures-match {
        padding-left: 20px;
    }
    .commands-emblem {
        left: 140px;
    bottom: 115px;
    max-width: 123px;
    }

    .get-started {
        background-image: none;
      
    }
    .get-started-text {
         margin-top: 0; 
        margin-bottom: 0;
        margin-left: 0; 
        max-width: 88.8%;
        flex: 1 1 50%;
    }
    .phone-img {
        margin-top: 0;
        margin-bottom: 99px;
        margin-right: 0;
        position: relative;

        background-image: url(../img/back-phone.png);
        background-repeat: no-repeat;
        
        transform: translateX(-11px);
    }
    
    .phone-img::after {
        content: "";
        background-image: url(../img/basket.svg);
    }

    /*-----------------------------------------------*/

    .features {
        background: rgb(255, 255, 255);
        background-image:none;
    }
    .features .blocks-text,
    .features .blocks-heading {
        color: #4F4F4F;
    }
     .table-of-features {
        /* display: grid; */
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: 1fr;
        row-gap: 20px;
        margin: 0;
        text-align: center;
    
    }

    /*-----------------------------------*/
    .reviews {
        display: grid;
        grid-template-columns: repeat(1, 309px);
        column-gap: 0;
        margin-bottom: 47px;
        transform: translateX(0);
        width: auto;

        
    }

    .item-review:not(:nth-child(3)){
        display: none;
    }

    .reviews::before {
        content: '';
        display: none;
    }
    .reviews::after {
        content: '';
        right: -20px;
    }
    .reviews {
        overflow: unset;
    }

    /*-----------------------*/
    .list-featured-in {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    /* grid-auto-rows: minmax(48px, auto); */
    column-gap: 2px;
    /* margin-bottom: 68px; */
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
} 



.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 2 / 3 / 3 / 4; }
.div6 { grid-area: 3 / 1 / 4 / 3; }

/*------------------------------*/
.get-up-close {

    display: flex;
    flex-direction: column-reverse;
 
}

.text-get-up {
    width: auto;
}
.text-get-up .btn-download {
    width: 88%;
}
footer {

    flex-direction: column;
    align-items: flex-start;
    padding-left: 21px;
    padding-right: 21px;
}
footer .logo {order:1;}
nav {order:3;}
.list-social-networks{order:2;
margin-top: 11px;
margin-bottom: 34px;}

.nav-footer li+li {
    margin-left: 19px;
}
.list-services {
    margin: 0;
}

}


@media (max-width: 440px) {
    .match-notifications, .video img {
        width: 220px;
        height: 119px;
    }

    time {
    
         margin-top: 5px;
       
    }

    .turn-match {
        height: 15px;
        
        padding-top: 5px;
    }

    .commands-emblem {
        left: 120px;
        bottom: 110px;
       
    }
}


/*--------*/

@media (max-width: 360px) {
    .btn-download {
        flex-wrap: wrap;
    }

    .pictures-match {
        padding-left: 0;
    }
    .video {
        left: -210px;
    }

    .arrow-left {
        left: 3px;
    }
    .arrow-right {
        right: 3px;
    }
} 