a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a.nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1120));
  line-height: 24px;
  color: #505F98;
}
a.nav-link:hover {
  color: #505F98;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1120));
  line-height: 24px;
}

.btn {
  border-radius: 2px;
  width: 160px;
  height: 24px;
  padding: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  line-height: 26px;
}
.btn.btn-primary {
  border: 1px solid #111B47;
  background: #111B47;
}
.btn.btn-primary:hover {
  transform: scale(1.2);
  background: transparent;
  color: #091133;
}
.btn.btn-light {
  background: transparent;
  border: 1px solid #091133;
  color: #091133;
}
.btn.btn-light:hover {
  transform: scale(1.2);
  background: #111B47;
  color: #FFFFFF;
}

.btns {
  margin-top: 4.3125em;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .btns {
    padding-bottom: 6.25em;
  }
}
@media (max-width: 425px) {
  .btns {
    justify-content: center;
  }
}

header {
  margin-top: 15.1875em;
}
header .btn {
  width: 189px;
  height: 36px;
}
@media (max-width: 768px) {
  header .btn {
    width: 160px;
  }
}
header .btn + .btn {
  margin-left: 30px;
}
header .row {
  flex-wrap: wrap-reverse;
}
@media (max-width: 575px) {
  header {
    margin-top: 0.9375em;
  }
}
@media (max-width: 425px) {
  header {
    margin-top: 3.125em;
    text-align: center;
  }
}

.heading-main {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(42px + 8 * ((100vw - 320px) / 1120));
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
}

.block-text-main {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  line-height: 30px;
  color: #505F98;
}

.header-site {
  background-image: url(../img/main_photo.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right bottom;
  padding-bottom: 24.125em;
}
.header-site .btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(9px + 3 * ((100vw - 320px) / 1120));
  line-height: 18px;
}
@media (max-width: 425px) {
  .header-site .btn {
    width: 105px;
  }
}
@media (max-width: 425px) {
  .header-site .nav-link {
    padding-left: 0.1875em;
  }
}
@media (max-width: 768px) {
  .header-site {
    background-image: none;
    background-color: #f2f5ff;
    padding-bottom: 7.5em;
  }
  .header-site .navbar {
    justify-content: space-around;
  }
}
@media (max-width: 575px) {
  .header-site {
    padding-bottom: 1.25em;
  }
  .header-site .navbar {
    justify-content: start;
  }
}

.navbar-brand {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: calc(18px + 8 * ((100vw - 320px) / 1120));
  line-height: 38px;
  color: #37447E;
}
.navbar-brand:hover {
  color: #37447E;
}

.heading-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(32px + 4 * ((100vw - 320px) / 1120));
  line-height: 48px;
  color: #091133;
  margin-bottom: 1em;
}
@media (max-width: 720px) {
  .heading-section {
    text-align: center;
  }
}

.block-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  line-height: 26px;
  color: #6F7CB2;
}
@media (max-width: 720px) {
  .block-text {
    text-align: center;
  }
}

.light-fast-powerful .row {
  align-items: center;
  flex-wrap: wrap-reverse;
}
.light-fast-powerful .row > div {
  width: calc((0.8018018018 * 100%));
}

.first-section img {
  margin-top: 6.8125em;
  margin-bottom: 6.75em;
}
@media (max-width: 768px) {
  .first-section img {
    margin-top: 3.125em;
    margin-bottom: 3.4375em;
  }
}
.first-section .row {
  flex-wrap: wrap;
}

.second-section img {
  margin-top: 7.625em;
  margin-bottom: 8.125em;
  margin-right: 9.6875em;
}
@media (max-width: 768px) {
  .second-section img {
    margin-top: 3.125em;
    margin-bottom: 3.4375em;
    margin-right: 0.625em;
  }
}

.third-section img {
  margin-top: 5.6875em;
  margin-bottom: 7.125em;
  margin-right: 7.8125em;
}
@media (max-width: 768px) {
  .third-section img {
    margin-top: 3.125em;
    margin-bottom: 3.4375em;
    margin-right: 0.3125em;
  }
}

.fourth-section img {
  margin-top: 8.8125em;
  margin-bottom: 8.125em;
  margin-right: 10.75em;
}
@media (max-width: 768px) {
  .fourth-section img {
    margin-top: 3.125em;
    margin-bottom: 3.4375em;
    margin-right: 0.3125em;
  }
}
.fourth-section .btn {
  margin-top: 2.5em;
  height: 1.5em;
}
@media (max-width: 425px) {
  .fourth-section .btn {
    display: block;
    margin: 1.25em auto;
  }
}

.goes-here {
  display: flex;
  margin-top: 5em;
}
.goes-here > div {
  width: calc((0.4722222222 * 100%));
}
.goes-here > div:first-child {
  margin-right: 0.4375em;
}
@media (max-width: 425px) {
  .goes-here {
    margin-top: 2.5em;
    text-align: center;
  }
}

.heading-goes-here {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  line-height: 26px;
  color: #091133;
}

.text-goes-here {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: calc(9px + 3 * ((100vw - 320px) / 1120));
  line-height: 18px;
  color: #5D6970;
}

.price-suit-everyone .border-top {
  height: 3.125em;
  background: white;
  border-radius: 0 0 70% 70%;
  border-bottom: 1px solid #f8f9fa;
  width: 100%;
  position: relative;
  top: 38px;
}
.price-suit-everyone .content_price {
  background: #E7ECFF;
  padding-top: 13.125em;
  padding-bottom: 7.5em;
}
.price-suit-everyone .content_price > div {
  width: calc((0.5405405405 * 100%));
  text-align: center;
}
@media (max-width: 768px) {
  .price-suit-everyone .content_price {
    padding-bottom: 5em;
    padding-top: 5em;
  }
}
.price-suit-everyone .price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(55px + 11 * ((100vw - 320px) / 1120));
  line-height: 66px;
  letter-spacing: 1px;
  color: #222F65;
  margin-top: 2.1875em;
  margin-bottom: 0.3125em;
}
@media (max-width: 768px) {
  .price-suit-everyone .price {
    margin-top: 0.625em;
  }
}
.price-suit-everyone .text-ui-design {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  line-height: 26px;
  color: #37447E;
}
.price-suit-everyone .one-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1120));
  line-height: 24px;
  color: #5D6970;
  margin-top: 3.75em;
}
@media (max-width: 768px) {
  .price-suit-everyone .one-price {
    margin-top: 0.9375em;
  }
}
.price-suit-everyone .btn {
  align-self: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1120));
  line-height: 24px;
}

footer {
  padding-top: 3.8125em;
  background-color: #E7ECFF;
}
footer .nav-footer .nav-link {
  padding-left: 0;
}
footer .align-items-baseline .nav-link {
  padding-right: 0;
}
footer .navbar {
  border-top: 2px solid #CDD1D4;
  margin-top: 2.5em;
}
@media (max-width: 768px) {
  footer .navbar {
    margin-top: 1.25em;
  }
}
footer .btn {
  width: 109px;
  height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: calc(9px + 3 * ((100vw - 320px) / 1120));
  line-height: 18px;
}
footer .copyright, footer .nav-footer .nav-link {
  color: #929ECC;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: calc(11px + 3 * ((100vw - 320px) / 1120));
  line-height: 24px;
}
footer svg:hover {
  animation-name: network-icon;
  animation-duration: 0.7s;
  animation-timing-function: steps(5, start);
}
@media (max-width: 425px) {
  footer {
    padding-top: 0.625em;
  }
  footer svg {
    width: 12;
  }
}

@keyframes network-icon {
  0% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}